@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
  background-color: #FAF7F0;
}

.font-poppins{
  font-family: 'Poppins', sans-serif !important;
}
.font-roboto{
  font-family: 'Roboto', sans-serif !important;
}
/* hr .about-hr{
  border:2px solid black!important;
  border-radius: 10px;
  height: 20px;
} */

@media (min-width:768px){
  .description::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .description::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  .description::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  .description::-webkit-scrollbar-thumb:hover {
    background: darkgray;
  }

}

@media(max-width:768px){
  .info{
    display: grid;
    /* grid-row: 1; */
    grid-auto-flow: column;  
    /* column-count: 2; */
    gap:30px;
  }
  .createdby{
    /* margin:auto; */
    height: auto;
    padding:auto;

  }
  .quizspecifics{
    padding-left: 20%;
  }
}